@model ImageSharePassword.Data.Image

<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <h3>
            Thank you for uploading your images,
            here's the link to share with your friends:

            <br /><br />
                  <a href="http://localhost:52743/image/viewimage?id=@Model.Id">
                      http://localhost:52743/image/viewimage?id=@Model.Id
                  </a>
            <br /><br />

            Make sure to give them the password of "@Model.Password"
        </h3>
    </div>
</div>
